
<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

     <%= content_tag :div do %>
      <%= f.label :education %>
      <%= f.select :education, ["Schooling", "Bachelor" ,"Master"],:prompt=>"select", class: 'form-control'%>
      <% end %>
     
      <%= content_tag :div, :id=>'schooling',:style=> display_services(@user,"schooling") do %>

      <%= f.label :schooling %>
      <%= f.select :schooling, ['10th' ,'12th'],:prompt=>"select",class: 'form-control'  %>
      <% end %>

      <%= content_tag :div, :id=>'bachelor', :style=>display_services(@user,"bachelor") do -%>
      <%= f.label "Bachelor" %>
      <%= f.select :bachelor, ['B.E','BCA','BBA'],:prompt=>"select",class: 'form-control'  %>
      <% end %>

      <%= content_tag :div,  :id=>'master', :style=>display_services(@user,"master") do %>
      <%= f.label "Master" %>
      <%= f.select :master, ['M.E','MCA','MBA'],:prompt=>"select" ,class: 'form-control' %>
      <% end %>  
      
    <br>
     <%= content_tag :ul, :id=>"sortable1", class:"connectedSortable" do %>
      <% @user.list.each_with_index do |a,index|%>
      <li><input type="hidden" name="user[list][<%= index %>]" value="<%= a %>"><%= a %></input></li>
      <% end %>
      <% end %>

      

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>